{% extends 'campaña/layout.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Editar Mensaje</h1>
    <form method="post" class="border p-4 rounded bg-light shadow-sm">
        {% csrf_token %}
        <div class="mb-3">
            {{ form }} <!-- Usa crispy-forms si tienes configurado; de lo contrario, puedes usar {{ form }} -->
        </div>
        <button type="submit" class="btn btn-warning w-10">
            Editar Mensaje
        </button>
    </form>
</div>
{% endblock %}
